<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308838235726-kec3m8mf07ib6pu2ehdjoj2qetm8krdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308838235726-kec3m8mf07ib6pu2ehdjoj2qetm8krdh</string>
	<key>API_KEY</key>
	<string>AIzaSyAwQOin9c1WAChUT2Q-DEbCRSuEv5Keecc</string>
	<key>GCM_SENDER_ID</key>
	<string>308838235726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>woof-9297e</string>
	<key>STORAGE_BUCKET</key>
	<string>woof-9297e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308838235726:ios:0b1453d00d02202a</string>
	<key>DATABASE_URL</key>
	<string>https://woof-9297e.firebaseio.com</string>
</dict>
</plist>